.yw-channelavatar {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}

.yw-channelavatar-avatar {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yw-channelavatar-avatar-img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.yw-channelavatar-upload {
  margin-top: 20px;
}
