.yw-messageinput-box {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0.3rem -0.2rem 0.8rem 0.05rem rgb(114 114 114 / 5%);
  border-left: none;
  display: flex;
  flex-direction: column-reverse;
}

.yw-messageinput-inputbox {
  height: 100%;
  width: 100%;
  padding: 20px 20px 10px 20px;
  box-sizing: border-box;
}

.yw-messageinput-input {
  height: 100%;
  width: 100%;
  border: none;
  color: var(--yw-text-primary);
  font-size: 14px;
  overflow-y: scroll;
  display: inline-block;
  -webkit-user-modify: read-write-plaintext-only;
  outline: none;
}

body[theme-mode="dark"] .yw-messageinput-input {
  color: var(--yw-text-primary);
}

.yw-messageinput-input__highlighter {
  height: 100% !important;
  padding: 0 !important;
}

.yw-messageinput-input textarea {
  outline: none;
  border: none;
  color: var(--yw-text-primary);
  padding: 0 !important;
  height: 100% !important;
}

.yw-messageinput-input:empty:before {
  content: attr(data-placeholder);
  position: absolute;
  color: #a9a9a9;
}

.yw-messageinput-bar {
  height: 48px;
  width: 100%;
  display: flex;
  top: 0px;
  border-top: var(--yw-line);
}

.yw-messageinput-tabs {
  height: 100%;
  width: 50%;
}

.yw-messageinput-toolbar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 10px;
}

.yw-messageinput-actionbox {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.yw-messageinput-actionitem {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yw-messageinput-sendbtn {
  padding: 7px 10px !important;
  width: auto !important;
  height: auto !important;
  border-radius: 6px !important;
}

.yw-messageinput-hasValue {
  background-color: var(--yw-color-theme);
}

.yw-messageinput-member {
  height: 100%;
  width: 100%;
  padding: 0 16px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.yw-messageinput-iconbox {
  margin-right: 8px;
}

.yw-messageinput-icon {
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.yw-messageinput-selected {
  color: #fff;
  /* background-color: #1264a3; */
}

.quickReplyPanel {
  position: absolute;
  box-shadow: 1px -1px 12px -2px rgb(0 0 0 / 28%);
  max-height: 400px;
  overflow-x: hidden;
  bottom: 0;
  background-color: var(--yw-color-theme);
  width: 100%;
  border-radius: 4px;
}

.quickReplyPanel ul {
  margin: 0;
  padding: 0;
}

.quickReplyPanel ul li {
  list-style-type: none;
  height: 60px;
  border-bottom: 1px solid rgba(9, 30, 66, 0.12);
  cursor: pointer;
}

.quickReplyItem {
}

.quickReplyItem :hover {
  background-color: #f4f5f7;
}

.quickReplySelect {
  background-color: #5d657a !important;
  color: #fff !important;
}

.yw-messageinput-header {
}

.yw-messageinput-reply {
  margin: 10px 10px 0px 10px;
  background-color: #f5f6f7;
  display: flex;
  color: #8f959e;
  align-items: center;
}

.yw-messageinput-closeicon {
  margin: 0px 6px;
  cursor: pointer;
}

.yw-messageinput-replycontent {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 22px;
}

.yw-messageinput-input__control {
  background-color: transparent;
}

.yw-messageinput-input__suggestions {
  background-color: var(--yw-bg-secondary);
}

body[theme-mode="dark"] .yw-messageinput-input__input {
  color: var(--yw-text-primary);
}

.yw-messageinput-disabled {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--yw-color-theme);
  color: #999;
  font-size: 14px;
  border-radius: 10px;
}
