.yw-friendadd .yw-search-box {
  border-radius: 0px;
  background-color: var(--yw-color-theme);
}

.yw-friendadd .yw-search-input {
  max-width: 100%;
}

.yw-friendadd .yw-search-input input {
  width: 250px;
}

.yw-friendadd-content-qrcode {
  margin-top: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

body[theme-mode="dark"] .yw-friendadd-content-qrcode {
  color: var(--yw-text-primary);
}

.yw-friendadd-content-qrcode img {
  margin-left: 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
