.yw-friendapply {
  width: 100%;
  height: 100%;
  background-color: white;
}

body[theme-mode="dark"] .yw-friendapply {
  background-color: var(--yw-color-secondary);
}

.yw-friendapply-content {
  padding: 15px;
}

.yw-friendapply-content-tip {
  color: gray;
}

.yw-friendapply-content-message {
  margin-top: 5px;
}
