.yw-search-box {
  display: flex;
  min-width: 200px;
  height: 45px;
  background-color: #f4f4f5;
  border-radius: 25px;
}

body[theme-mode="dark"] .yw-search-box {
  background-color: var(--yw-color-secondary-2);
}

.yw-search-icon {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.yw-search-input {
  margin-left: 10px;
  max-width: 100px;
}

.yw-search-input input {
  flex: 1 1;
  height: 32px;
  font-size: 12px;
  line-height: 18px;
  background-color: transparent;
  color: #1f2329;
  padding: 0;
  outline: none;
  border: none;
  height: 100%;
}

body[theme-mode="dark"] .yw-search-input input {
  color: var(--yw-text-primary);
}

.yw-search-input .semi-input-wrapper {
  height: 100%;
  background-color: var(--yw-color-theme);
}

body[theme-mode="dark"] .yw-search-input .semi-input-wrapper {
  background-color: var(--yw-color-secondary-2);
}

.yw-search-input .semi-input-wrapper-focus {
  border: none !important;
}

.yw-search-input .semi-input-wrapper-focus:active {
  border-color: none !important;
}
