.yw-contextmenus {
  position: fixed;
  top: 100px;
  left: 0px;
  background-color: var(--yw-color-theme);
  z-index: 99;

  box-shadow: 0 0.25rem 0.5rem 0.125rem rgba(114, 114, 114, 0.25098);
  border-radius: 0.75rem;
  transform: scale(0.5);
  transition: opacity 0.2s cubic-bezier(0.2, 0, 0.2, 1),
    transform 0.2s cubic-bezier(0.2, 0, 0.2, 1) !important;

  visibility: hidden;
  padding: 10px 0px;

  min-width: 80px;
}

body[theme-mode="dark"] .yw-contextmenus {
  background-color: var(--yw-color-secondary);
  box-shadow: 0 0.25rem 0.5rem 0.125rem rgba(0, 0, 0, 0.6);
}

.yw-contextmenus-open {
  transform: scale(1);
  visibility: visible;
}

.yw-contextmenus ul {
  margin-top: 0;
  margin-bottom: 0;
}

.yw-contextmenus li {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

body[theme-mode="dark"] .yw-contextmenus li {
  color: var(--yw-text-primary);
}

.yw-contextmenus li:hover {
  background-color: #eee;
}

body[theme-mode="dark"] .yw-contextmenus li:hover {
  background-color: var(--yw-color-secondary-2);
}

.yw-contextmenus-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  visibility: hidden;
  z-index: 98;
}
