.yw-blacklist {
}

.yw-blacklist-content ul li {
  height: 80px;
  width: 100%;
  background-color: var(--yw-bg-secondary);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.yw-blacklist-content-avatar {
  margin-left: 15px;
}

.yw-blacklist-content-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.yw-blacklist-content-title {
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
  color: var(--yw-text-item);
}
