.wk-sections {
  background-color: var(--wk-bg-secondary);
}

.wk-section {
  margin-top: 10px;
}

.wk-section:first-child {
  margin-top: 0px;
}

.wk-section-rows {
}

.wk-section-title {
  padding: 5px 15px;
  color: var(--wk-text-secondary);
  font-size: 13px;
}

.wk-section-row {
}

.wk-section-subtitle {
  padding: 5px 15px;
  color: var(--wk-text-secondary);
  font-size: 13px;
}
