.yw-sections {
  background-color: var(--yw-bg-secondary);
}

.yw-section {
  margin-top: 10px;
}

.yw-section:first-child {
  margin-top: 0px;
}

.yw-section-rows {
}

.yw-section-title {
  padding: 5px 15px;
  color: var(--yw-text-secondary);
  font-size: 13px;
}

.yw-section-row {
}

.yw-section-subtitle {
  padding: 5px 15px;
  color: var(--yw-text-secondary);
  font-size: 13px;
}
