:root {
  /* 主题色 */
  --yw-color-theme: #ffffff;
  /* 主色 */
  --yw-color-primary: #7c42ff;
  --yw-color-primary-hover: rgba(124, 66, 255, 0.6);

  --yw-color-primary-1: #f5f0ff; /* 最浅，用于背景 */
  --yw-color-primary-2: #e6d6ff; /* 用于hover背景 */
  --yw-color-primary-3: #c4a3ff; /* 用于特殊状态 */
  --yw-color-primary-4: #9e70ff; /* 用于次要强调 */
  --yw-color-primary-5: #7c42ff; /* 主色调，当前使用色 */
  --yw-color-primary-6: #6535cc; /* 用于hover状态 */
  --yw-color-primary-7: #4d2899; /* 用于active状态 */
  /* 次色 */
  --yw-color-secondary: #fbfcfe;
  --yw-color-secondary-2: #f0f4f8;
  /* 基础背景色 */
  --yw-bg-base: #ffffff;
  --yw-bg-secondary: #f5f5f5;
  --yw-bg-hover: rgba(0, 0, 0, 0.06);
  --yw-bg-active: rgba(0, 0, 0, 0.1);
  --yw-bg-mask: rgba(0, 0, 0, 0.45);
  --yw-bg-spotlight: rgba(0, 0, 0, 0.85);
  --yw-bg-message-item: #ffffff;
  --yw-bg-message-sender-item: #f5f5f5;
  /* 文字色 */
  --yw-text-menu-selected: #ffffff;
  --yw-text-primary: rgba(0, 0, 0, 0.85);
  --yw-text-secondary: rgba(0, 0, 0, 0.55);
  --yw-text-disabled: rgba(0, 0, 0, 0.35);
  --yw-text-thrid: #666;
  --yw-text-forth: #999;
  --yw-text-link: var(--yw-color-primary);
  --yw-text-item: #000000;

  --yw-text-primary-hover: rgba(0, 0, 0, 0.85);
  --yw-text-primary-active: rgba(0, 0, 0, 1);

  /* 线 */
  --yw-line: 1px solid rgba(0, 0, 0, 0.1);
  --yw-line-color: rgba(0, 0, 0, 0.1);
  /* 圆角 */
  --yw-border-radius-base: 4px;
  --yw-border-radius-sm: 2px;
  --yw-border-radius-lg: 8px;
  /* 阴影 */
  --yw-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15);
  --yw-shadow-card: 0 1px 2px -2px rgba(0, 0, 0, 0.16),
    0 3px 6px 0 rgba(0, 0, 0, 0.12), 0 5px 12px 4px rgba(0, 0, 0, 0.09);
  --yw-shadow-popup: 0 3px 6px -4px rgba(0, 0, 0, 0.12),
    0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  /* 头部高度 */
  --yw-header-height: 60px;
  /* 侧边栏宽度 */
  --yw-sider-width: 220px;
  /* 间距 */
  --yw-spacing-base: 8px;
  --yw-spacing-lg: 24px;
  --yw-spacing-sm: 12px;
  /* 字体大小 */
  --yw-font-size-base: 14px;
  --yw-font-size-lg: 16px;
  --yw-font-size-sm: 12px;
  /* 行高 */
  --yw-line-height-base: 1.5715;

  /* 透明度 */
  --yw-opacity-1: 0.05; /* 最轻微的视觉效果 */
  --yw-opacity-2: 0.15; /* hover态 */
  --yw-opacity-3: 0.25; /* 禁用态 */
  --yw-opacity-4: 0.45; /* 次要文本 */
  --yw-opacity-5: 0.65; /* 重要文本 */
  --yw-opacity-6: 0.85; /* 主要文本 */
  --yw-opacity-7: 1; /* 完全不透明 */

  /* 建议添加功能色 */
  --yw-color-success: #52c41a;
  --yw-color-warning: #faad14;
  --yw-color-error: #ff4d4f;
  --yw-color-info: #1890ff;

  /* 每个功能色都应该有其配套的浅色背景 */
  --yw-color-success-bg: rgba(82, 196, 26, 0.1);
  --yw-color-warning-bg: rgba(250, 173, 20, 0.1);
  --yw-color-error-bg: rgba(255, 77, 79, 0.1);
  --yw-color-info-bg: rgba(24, 144, 255, 0.1);

  /* 基础状态 - Base State */
  --yw-state-default-bg: #fff;
  --yw-state-default-text: rgba(0, 0, 0, 0.85);
  --yw-state-default-border: rgba(0, 0, 0, 0.1);

  /* 悬停状态 - Hover State */
  --yw-state-hover-bg: rgba(0, 0, 0, 0.06);
  --yw-state-hover-text: rgba(0, 0, 0, 0.95);
  --yw-state-hover-border: rgba(0, 0, 0, 0.2);

  /* 选中状态 - Selected State */
  --yw-state-selected-bg: #eee;
  --yw-state-selected-text: var(--yw-text-forth);
  --yw-state-selected-border: var(--yw-text-forth);

  /* 激活状态 - Active State */
  --yw-state-active-bg: rgba(0, 0, 0, 0.1);
  --yw-state-active-text: rgba(0, 0, 0, 1);
  --yw-state-active-border: rgba(0, 0, 0, 0.3);

  /* 禁用状态 - Disabled State */
  --yw-state-disabled-bg: rgba(0, 0, 0, 0.04);
  --yw-state-disabled-text: rgba(0, 0, 0, 0.25);
  --yw-state-disabled-border: rgba(0, 0, 0, 0.08);

  --yw-width-layout-content-left: 321px;
  --yw-height-chat-search: 80px;
  --yw-height-chat-conversation-header: 80px;
  --yw-wdith-chat-channelsetting: 340px;
  --yw-layer-transition: 300ms cubic-bezier(0.33, 1, 0.68, 1);
  --yw-slide-transition: 450ms cubic-bezier(0.25, 1, 0.5, 1);

  /* 图标 */
  --icon-primary: rgba(0, 0, 0, 0.65);
  --icon-secondary: rgba(0, 0, 0, 0.35);
  --icon-disabled: rgba(0, 0, 0, 0.25);
  --icon-active: var(--yw-color-primary);
  --icon-hover: var(--yw-color-primary-hover);

  /* 添加新的颜色值 */
  --yw-chat-badge-bg: rgba(124, 66, 255, 0.2);
  --yw-chat-message-receiver-color: #666666;
  --yw-sender-text-primary: rgba(255, 255, 255, 1);
  --yw-sender-text-secondary: rgba(255, 255, 255, 0.8);
  --yw-sender-text-disabled: rgba(255, 255, 255, 0.6);
  --yw-viewqueueheader-height: 80px;
  --yw-modal-body-height: 518px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

[theme-mode="dark"] {
  /* 主题色 */
  --yw-color-theme: #121212;
  /* 主色 */
  --yw-color-primary: #7c42ff;
  --yw-color-primary-hover: rgba(124, 66, 255, 0.5);
  /* 次色 */
  --yw-color-secondary: #0f0f0f;
  --yw-color-secondary-2: rgb(33, 33, 33);

  --yw-color-primary-1: rgba(124, 66, 255, 0.1); /* 最浅，用于背景 */
  --yw-color-primary-2: rgba(124, 66, 255, 0.2); /* 用于hover背景 */
  --yw-color-primary-3: rgba(124, 66, 255, 0.3); /* 用于特殊状态 */
  --yw-color-primary-4: rgba(124, 66, 255, 0.4); /* 用于次要强调 */
  --yw-color-primary-5: #7c42ff; /* 主色调保持不变 */
  --yw-color-primary-6: #8f5cff; /* 用于hover状态，略亮 */
  --yw-color-primary-7: #a276ff; /* 用于active状态，更亮 */

  /* 基础背景色 */
  --yw-bg-base: #000;
  --yw-bg-secondary: #141414;
  --yw-bg-hover: rgba(255, 255, 255, 0.08);
  --yw-bg-active: rgba(255, 255, 255, 0.12);
  --yw-bg-mask: rgba(0, 0, 0, 0.45);
  --yw-bg-spotlight: rgba(0, 0, 0, 0.85);
  --yw-bg-message-item: #0b0d0e;
  --yw-bg-message-sender-item: #7c42ff;
  /* 文字色 */
  --yw-text-primary: rgba(255, 255, 255, 0.9);
  --yw-text-secondary: rgba(255, 255, 255, 0.7);
  --yw-text-disabled: rgba(255, 255, 255, 0.5);
  --yw-text-link: #177ddc;
  --yw-text-item: white;

  --yw-text-primary-hover: rgba(255, 255, 255, 1);
  --yw-text-primary-active: rgba(255, 255, 255, 1);

  /* 线 */
  --yw-line: 1px solid rgba(159, 166, 173, 0.16);
  --yw-line-color: rgba(159, 166, 173, 0.16);
  /* 圆角 */
  --yw-border-radius-base: 4px;
  --yw-border-radius-sm: 2px;
  --yw-border-radius-lg: 8px;
  /* 阴影 */
  --yw-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.65);
  --yw-shadow-card: 0 1px 2px -2px rgba(0, 0, 0, 0.64),
    0 3px 6px 0 rgba(0, 0, 0, 0.48), 0 5px 12px 4px rgba(0, 0, 0, 0.36);
  --yw-shadow-popup: 0 3px 6px -4px rgba(0, 0, 0, 0.48),
    0 6px 16px 0 rgba(0, 0, 0, 0.32), 0 9px 28px 8px rgba(0, 0, 0, 0.2);
  /* 头部高度 */
  --yw-header-height: 60px;
  /* 侧边栏宽度 */
  --yw-sider-width: 220px;
  /* 间距 */
  --yw-spacing-base: 8px;
  --yw-spacing-lg: 24px;
  --yw-spacing-sm: 12px;
  /* 字体大小 */
  --yw-font-size-base: 14px;
  --yw-font-size-lg: 16px;
  --yw-font-size-sm: 12px;
  /* 行高 */
  --yw-line-height-base: 1.5715;

  /* 透明度 */
  --yw-opacity-1: 0.05; /* 最轻微的视觉效果 */
  --yw-opacity-2: 0.15; /* hover态 */
  --yw-opacity-3: 0.25; /* 禁用态 */
  --yw-opacity-4: 0.45; /* 次要文本 */
  --yw-opacity-5: 0.65; /* 重要文本 */
  --yw-opacity-6: 0.85; /* 主要文本 */
  --yw-opacity-7: 1; /* 完全不透明 */

  /* 建议添加功能色 */
  --yw-color-success: #52c41a;
  --yw-color-warning: #faad14;
  --yw-color-error: #ff4d4f;
  --yw-color-info: #1890ff;

  /* 每个功能色都应该有其配套的浅色背景 */
  --yw-color-success-bg: rgba(82, 196, 26, 0.1);
  --yw-color-warning-bg: rgba(250, 173, 20, 0.1);
  --yw-color-error-bg: rgba(255, 77, 79, 0.1);
  --yw-color-info-bg: rgba(24, 144, 255, 0.1);

  /* 基础状态 - Base State */
  --yw-state-default-bg: #141414;
  --yw-state-default-text: rgba(255, 255, 255, 0.85);
  --yw-state-default-border: rgba(255, 255, 255, 0.1);

  /* 悬停状态 - Hover State */
  --yw-state-hover-bg: rgba(255, 255, 255, 0.08);
  --yw-state-hover-text: rgba(255, 255, 255, 0.95);
  --yw-state-hover-border: rgba(255, 255, 255, 0.2);

  /* 选中状态 - Selected State */
  --yw-state-selected-bg: rgba(11, 107, 203, 0.2);
  --yw-state-selected-text: #177ddc;
  --yw-state-selected-border: #177ddc;

  /* 激活状态 - Active State */
  --yw-state-active-bg: rgba(255, 255, 255, 0.12);
  --yw-state-active-text: rgba(255, 255, 255, 1);
  --yw-state-active-border: rgba(255, 255, 255, 0.3);

  /* 禁用状态 - Disabled State */
  --yw-state-disabled-bg: rgba(255, 255, 255, 0.08);
  --yw-state-disabled-text: rgba(255, 255, 255, 0.25);
  --yw-state-disabled-border: rgba(255, 255, 255, 0.08);

  --yw-width-layout-content-left: 321px;
  --yw-height-chat-search: 80px;
  --yw-height-chat-conversation-header: 80px;
  --yw-wdith-chat-channelsetting: 340px;
  --yw-layer-transition: 300ms cubic-bezier(0.33, 1, 0.68, 1);
  --yw-slide-transition: 450ms cubic-bezier(0.25, 1, 0.5, 1);

  /* 图标 */
  --icon-primary: rgba(255, 255, 255, 0.85);
  --icon-secondary: rgba(255, 255, 255, 0.45);
  --icon-disabled: rgba(255, 255, 255, 0.25);
  --icon-active: var(--yw-color-primary);
  --icon-hover: var(--yw-color-primary-hover);

  /* 补充缺失的变量 */
  --yw-text-menu-selected: #ffffff;
  --yw-text-thrid: rgba(255, 255, 255, 0.7);
  --yw-text-forth: rgba(255, 255, 255, 0.5);

  /* 补充聊天相关变量 */
  --yw-chat-badge-bg: rgba(124, 66, 255, 0.3);
  --yw-chat-message-receiver-color: rgba(255, 255, 255, 0.7);
  --yw-sender-text-primary: rgba(255, 255, 255, 1);
  --yw-sender-text-secondary: rgba(255, 255, 255, 0.8);
  --yw-sender-text-disabled: rgba(255, 255, 255, 0.6);
  --yw-viewqueueheader-height: 80px;
  --yw-modal-body-height: 518px;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji",
    "Helvetica Neue", sans-serif;
  font-size: var(--yw-font-size-base);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  /* 添加主题相关的默认值 */
  background-color: var(--yw-bg-base);
  color: var(--yw-text-primary);

  /* 过渡效果 */
  transition: background-color 0.15s ease;
}

/* 主题切换时的过渡效果 */
[theme-mode] * {
  transition: background-color 0.15s ease, color 0.15s ease,
    border-color 0.15s ease;
}

/* 全局SVG规则 */
/* svg {
  fill: var(--icon-primary);
  transition: fill 0.15s ease;
} */

/* svg path {
  fill: var(--icon-primary);
  transition: fill 0.15s ease;
} */

svg[data-type="secondary"] {
  fill: var(--icon-secondary);
}

svg[data-type="secondary"] path {
  fill: var(--icon-secondary);
}

svg[data-type="disabled"] {
  fill: var(--icon-disabled);
}

svg[data-type="disabled"] path {
  fill: var(--icon-disabled);
}

div {
  outline: none; /** 让div没有焦点边框 不加这个 第一次打开Modal会聚焦**/
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page {
  width: 100%;
  height: 100%;
  background-color: rgb(236, 239, 243);
}

.pageContent {
  padding: 0px 40px;
  overflow-y: auto;
}

.pageContent.space {
  padding-top: 40px;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: "icomoon";
  src: url("./assets/fonts/icomoon.woff2");
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.yw-loading {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}

.yw-text-oneline {
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

body[theme-mode="dark"] .semi-badge-count {
  color: var(--yw-text-primary);
}

/* 覆盖semi-ui的badge样式 */
.semi-badge-count {
  background-color: var(--yw-color-primary) !important;
}

.semi-badge-count.semi-badge-solid {
  background-color: var(--yw-color-primary) !important;
}

/* 覆盖semi-ui的button样式 */
.semi-button-primary,
.semi-button-primary.semi-button-light:hover,
.semi-button-primary.semi-button-outline:hover,
.semi-button-primary.semi-button-borderless:hover {
  background-color: var(--yw-color-primary) !important;
}

.semi-button-primary:hover {
  background-color: var(--yw-color-primary-hover) !important;
}

.semi-button-primary.semi-button-light:hover {
  background-color: var(--yw-color-primary-hover) !important;
}
