.yw-message-system {
  padding: 10px 20px;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
  font-size: 12px;
  white-space: pre-line;
}
body[theme-mode="dark"] .yw-message-system {
  color: #999;
}

.yw-message-system-invite {
  color: #3370ff;
  cursor: pointer;
  display: inline;
  margin-left: 8px;
}
