.yw-popupmenus {
  background-color: var(--yw-color-theme);
  border-radius: 4px;
  box-shadow: -5px 5px 20px 0px #eee, 0px 20px 20px -15px #eee;
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0px 0px;
}
.yw-popupmenus-item {
  align-items: center;
  display: flex;
  margin: 10px 10px 10px 0px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.yw-popupmenus-item:first-child {
  margin-left: 10px;
}

.yw-popupmenus-comment {
  /* webpackIgnore: true */
  background-image: url(./icons/comment.png);
  background-size: cover;
}

.yw-popupmenus-comment:hover {
  background-image: url("./icons/comment-hover.png");
}

.yw-popupmenus-like {
  background-image: url("./icons/like.png");
  background-size: cover;
}

.yw-popupmenus-like:hover {
  background-image: url("./icons/like-hover.png");
}

.yw-popupmenus-forward {
  background-image: url("./icons/forward.png");
  background-size: cover;
}

.yw-popupmenus-forward:hover {
  background-image: url("./icons/forward-hover.png");
  background-size: cover;
}

.yw-popupmenus-delete {
  background-image: url("./icons/delete.png");
  background-size: cover;
}

.yw-popupmenus-delete:hover {
  background-image: url("./icons/delete-hover.png");
  background-size: cover;
}

.yw-popupmenus-mulselect {
  background-image: url("./icons/mulselect.png");
  background-size: cover;
}

.yw-popupmenus-mulselect:hover {
  background-image: url("./icons/mulselect-hover.png");
  background-size: cover;
}

.yw-popupmenus-revoke {
  background-image: url("./icons/revoke.png");
  background-size: cover;
}

.yw-popupmenus-revoke:hover {
  background-image: url("./icons/revoke-hover.png");
  background-size: cover;
}

.yw-popupmenus-favorites {
  background-image: url("./icons/favorites.png");
  background-size: cover;
}

.yw-popupmenus-favorites:hover {
  background-image: url("./icons/favorites-hover.png");
  background-size: cover;
}

.yw-popupmenus-copy {
  background-image: url("./icons/copy.png");
  background-size: cover;
  width: 16px;
  height: 16px;
}

.yw-popupmenus-copy:hover {
  background-image: url("./icons/copy-hover.png");
  background-size: cover;
}
