.yw-qrcodemy {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.yw-qrcodemy-content-qrcodebox {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yw-qrcodemy-content-qrcodeinfo {
  background-color: var(--yw-color-theme);
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body[theme-mode="dark"] .yw-qrcodemy-content-qrcodeinfo {
  background-color: var(--yw-color-secondary-2);
}

.yw-qrcodemy-content-userinfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 15px;
}

.yw-qrcodemy-content-userinfo-avatar img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.yw-qrcodemy-content-qrcode {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 210px;
}

.yw-qrcodemy-content-tip {
  font-size: 12px;
  text-align: center;
  color: #666;
  margin: 16px 0;
}

.yw-qrcodemy-content-userinfo-name {
  font-size: 24px;
  font-weight: 500;
  margin: 12px 0;
}

body[theme-mode="dark"] .yw-qrcodemy-content-userinfo-name {
  color: var(--yw-text-primary);
}
