.yw-subscrierlist {
  background-color: var(--yw-color-theme);
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.yw-subscrierlist-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
}

.yw-subscrierlist-item-name {
  margin-left: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 10rem;
}

.yw-subscrierlist-item-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.yw-subscrierlist-item-desc {
  font-size: 14px;
  color: #666;
}

.yw-subscrierlist-item-extra {
  margin-left: 8px;
  color: var(--semi-color-danger);
}

.yw-subscrierlist-item-action {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.yw-subscrierlist-list-item:hover .yw-subscrierlist-item-action {
  opacity: 1;
}
