.yw-contacts {
  width: 100%;
  height: 100%;
}

.yw-contacts-content-header {
  width: 100%;
  background-color: var(--yw-color-secondary);
}

.yw-contacts-content {
  width: 100%;
  height: calc(100% - var(--yw-viewqueueheader-height));
  overflow: auto;
}

.yw-contacts-content-contacts {
  width: 100%;
}

.yw-contacts-section {
}

.yw-contacts-section-item-index {
  font-size: 14px;
  font-weight: 500;
  margin: 0 20px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

body[theme-mode="dark"] .yw-contacts-section-item-index {
  color: var(--yw-text-primary);
}

.yw-contacts-section-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
}

/* .yw-contacts-section-item:hover {
    background-color: var(--yw-color-hover);
    border-radius: 10px;
} */

.yw-contacts-section-item-selected {
  background-color: var(--yw-state-selected-bg);
  color: var(--yw-state-selected-text);
}

.yw-contacts-section-item:hover {
  background-color: var(--yw-state-hover-bg);
}

.yw-contacts-section-item-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.yw-contacts-section-item-name {
  margin-left: 15px;
}

body[theme-mode="dark"] .yw-contacts-section-item-name {
  color: var(--yw-text-primary);
}

.yw-contacts-content-fnc {
  width: 100%;
}

.yw-contacts-content-header .yw-search-box {
  background-color: var(--yw-color-theme);
  width: 100%;
  border-radius: 4px;
}
