.yw-inputedit {
  width: 100%;
  height: 50px;
}

.yw-inputedit .semi-input-textarea-wrapper {
  background-color: var(--yw-bg-secondary);
}

.yw-inputedit-placeholder {
  font-size: 13px;
  color: var(--yw-text-secondary);
  margin: 5px 0px 0px 5px;
}
