.yw-join-oraganization {
  background-color: var(--yw-color-theme);
  cursor: pointer;
  border-radius: 8px;
  width: 100%;
}

body[theme-mode="dark"] .yw-join-oraganization {
  background-color: var(--yw-color-secondary);
}

.yw-join-oraganization-content {
  display: flex;
  padding: 10px;
  align-items: center;
}

.yw-join-oraganization-content-name {
  margin-left: 20px;
  color: var(--yw-text-item);
}

.yw-join-oraganization-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 5px 10px;
}

.yw-join-oraganization-bottom-flag {
  font-size: 12px;
  color: #999;
}

.yw-join-oraganization-bottom-time {
  position: absolute;
  right: 10px;
  top: -5px;
  color: #999 !important;
}
